.entity {
    border-style:dotted;
    margin: 1%;
}
.name {
    margin: 1%;
    font-style: oblique;
}
.object {
    border-style:dashed;
    margin: 1%;
}
.list {
    border-style:solid;
    margin: 1%;
}
.suggestion {
    background: linear-gradient( 4deg, white, grey );   
    width: 25%;
    padding: 0.3em;
    margin: 0.1em;
}
.suggestion:hover {
    background: linear-gradient( 4deg, grey, white );   
}
